@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.45;
  color: $dark;
  background-color: $lite;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.title {
  font-weight: 700;
  font-size: 48px;
  color: $dark;
  @include r($sm) {
    font-size: 30px;
  }
}

// .section {
//   padding-bottom: 120px;
// }

.logo {
  border-radius: 5px;
  outline: 2px solid transparent;
  z-index: 6;
  transition:
    outline-color 0.4s,
    opacity 0.4s;

  &:focus {
    outline-color: $accent;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
  &__img {
    object-fit: contain;
  }
}

.link {
  font-size: 14px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  white-space: nowrap;
  border: 2px solid transparent;
  border-radius: 5px;
  transition:
    color 0.4s,
    border-color 0.4s,
    text-shadow 0.4s;

  &:focus {
    border-color: rgba($accent, 0.7);
  }

  &:hover {
    color: $accent;
  }

  &:active {
    opacity: 0.5;
  }
}

.btn {
  padding: 15px 25px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
  border: 2px solid transparent;
  transition:
    border-color 0.4s,
    color 0.4s,
    background-color 0.4s,
    opacity 0.4s;

  &:focus {
    border-color: $accent;
  }
  &:hover {
    background-color: $dark;
    border-color: $accent;
    color: $accent;
  }
  &:active {
    opacity: 0.7;
  }

  @include r($sm) {
    font-size: 14px;
  }

  &--dark {
    background-color: $dark;
    color: $lite;
  }
  &--lite {
    background-color: $lite;
    color: $dark;
  }
  &--outline {
    border-color: $lite;
    color: $lite;
  }
  &--dark-outline {
    border-color: $dark;
    color: $dark;
  }
}

.view-more {
  height: 44px;
  display: inline-block;
  padding: 10px 0 10px 55px;
  position: relative;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 5px;
  white-space: nowrap;
  transition:
    background-color 0.4s,
    border-color 0.4s,
    color 0.4s;

  &::before {
    content: "";
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $dark;
    border-radius: 50%;
    transition: background-color 0.4s;
  }
  &:focus {
    border-color: $dark;
  }
  &:hover {
    background-color: $dark;
    color: $lite;
    .view-more__icon {
      fill: $dark;
    }
    &::before {
      background-color: $lite;
    }
  }
  &:active {
    opacity: 0.7;
  }

  &__icon {
    position: absolute;
    left: 10px;
    fill: $lite;
    transition: fill 0.4s;
  }
}
