.apartaments {
  padding: 150px 0 120px;
  @include r($lg) {
    padding: 100px 0 80px;
  }
  @include r($md) {
    padding: 50px 0;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    @include r($xl) {
      display: block;
    }
    @include r($lg) {
      margin-bottom: 50px;
    }
  }
  &__desc {
    max-width: 750px;
    width: 100%;
    padding-top: 10px;
    @include r($sm) {
      padding-top: 15px;
      font-size: 16px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 25px;

    @include r($xl) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include r($lg) {
      display: block;
    }
  }

  .slick-dots {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
    li {
      width: 30px;
      height: 30px;
      background-color: $dark;
      border-radius: 50%;
      font-size: 0;
    }
    .slick-active {
      background-color: $accent;
      border: 2px solid $dark;
    }
  }
}

.apartaments-card {
  max-width: 416px;
  @include r($xl) {
    margin: 0 auto;
  }
  &__content {
    padding-top: 40px;
    @include r($md) {
      padding: 20px 5px 0;
    }
  }

  &__img {
    border-radius: 10px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
    &:first-child {
      align-items: flex-start;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    white-space: nowrap;
  }
  &__desc {
    font-size: 16px;
    text-align: right;
    @include r(360) {
      display: none;
    }
  }
  &__turn {
    margin-top: 4px;
    display: block;
    color: #b5b5b5;
    font-size: 13px;
  }
}
