.popular {
  padding: 80px 0 150px;
  background-color: $second-bg;
  @include r($lg) {
    padding: 60px 0 100px;
  }
  @include r($sm) {
    padding: 50px 0;
  }
  &__top {
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    @include r($sm) {
      margin-bottom: 40px;
    }
  }
  &__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }
}

.popular-card {
  padding: 25px 30px 35px;
  background-color: $lite;

  &__top {
    margin-bottom: 20px;
  }
  &__remaining {
    margin-bottom: 40px;
    width: fit-content;
    padding: 7px 10px;
    color: $lite;
    background-color: $dark;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__content {
    margin-bottom: 20px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
  }
  &__text {
    font-size: 14px;
  }
  &__area {
    font-weight: 14;
    font-weight: 700;
  }
  &__balcony {
    font-size: 13px;
    color: #b5b5b5;
  }
}
