<section class="apartaments" id="apartaments">
  <div class="container">
    <div class="apartaments__top">
      <h2 class="apartaments__title title">
        Select a house
      </h2>
      <p class="apartaments__desc">
        Our construction company has accumulated vast experience in the construction of luxury housing in Kyiv. We not
        only
        carefully select the area for development, but also review the history of the land plot.
      </p>
    </div>
    <ul class="apartaments__content">
      <li class="apartaments__item">
        <article class="apartaments-card">
          <img class="apartaments-card__img" src="images/apartaments/1.jpg" alt="Volynske s. 32" width="416"
            height="420">
          <div class="apartaments-card__content">
            <div class="apartaments-card__box">
              <h3 class="apartaments-card__title">
                Volynske s. 32
              </h3>
              <p class="apartaments-card__desc">
                II quarter of 2022
                <span class="apartaments-card__turn">
                  The first turn
                </span>
              </p>
            </div>
            <div class="apartaments-card__box">
              <a class="apartaments-card__link" href="#">
                <svg class="apartaments-card__icon" width="20" height="20">
                  <use href="images/sprite.svg#icon-chevron"></use>
                </svg>
                View apartments
              </a>
              <p class="apartaments-card__desc">
                IV quarter of 2023
                <span class="apartaments-card__turn">
                  The second turn
                </span>
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="apartaments__item">
        <article class="apartaments-card">
          <img class="apartaments-card__img" src="images/apartaments/2.jpg" alt="Zelenogradsk pr. 4" width="416"
            height="420">
          <div class="apartaments-card__content">
            <div class="apartaments-card__box">
              <h3 class="apartaments-card__title">
                Zelenogradsk pr. 4
              </h3>
              <p class="apartaments-card__desc">
                I quarter of 2022
                <span class="apartaments-card__turn">
                  The first turn
                </span>
              </p>
            </div>
            <div class="apartaments-card__box">
              <a class="apartaments-card__link" href="#">
                <svg class="apartaments-card__icon" width="20" height="20">
                  <use href="images/sprite.svg#icon-chevron"></use>
                </svg>
                View apartments
              </a>
              <p class="apartaments-card__desc">
                IV quarter of 2023
                <span class="apartaments-card__turn">
                  The second turn
                </span>
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="apartaments__item">
        <article class="apartaments-card">
          <img class="apartaments-card__img" src="images/apartaments/3.jpg" alt="Sumske s. 11" width="416" height="420">
          <div class="apartaments-card__content">
            <div class="apartaments-card__box">
              <h3 class="apartaments-card__title">
                Sumske s. 11
              </h3>
              <p class="apartaments-card__desc">
                III quarter of 2022
                <span class="apartaments-card__turn">
                  The first turn
                </span>
              </p>
            </div>
            <div class="apartaments-card__box">
              <a class="apartaments-card__link" href="#">
                <svg class="apartaments-card__icon" width="20" height="20">
                  <use href="images/sprite.svg#icon-chevron"></use>
                </svg>
                View apartments
              </a>
              <p class="apartaments-card__desc">
                IV quarter of 2023
                <span class="apartaments-card__turn">
                  The second turn
                </span>
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="apartaments__item">
        <article class="apartaments-card">
          <img class="apartaments-card__img" src="images/apartaments/4.jpg" alt="Volynske s. 12" width="416"
            height="420">
          <div class="apartaments-card__content">
            <div class="apartaments-card__box">
              <h3 class="apartaments-card__title">
                Volynske s. 12
              </h3>
              <p class="apartaments-card__desc">
                II quarter of 2022
                <span class="apartaments-card__turn">
                  The first turn
                </span>
              </p>
            </div>
            <div class="apartaments-card__box">
              <a class="apartaments-card__link" href="#">
                <svg class="apartaments-card__icon" width="20" height="20">
                  <use href="images/sprite.svg#icon-chevron"></use>
                </svg>
                View apartments
              </a>
              <p class="apartaments-card__desc">
                IV quarter of 2023
                <span class="apartaments-card__turn">
                  The second turn
                </span>
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="apartaments__item">
        <article class="apartaments-card">
          <img class="apartaments-card__img" src="images/apartaments/5.jpg" alt="Dnipro pr. 17" width="416"
            height="420">
          <div class="apartaments-card__content">
            <div class="apartaments-card__box">
              <h3 class="apartaments-card__title">
                Dnipro pr. 17
              </h3>
              <p class="apartaments-card__desc">
                III quarter of 2022
                <span class="apartaments-card__turn">
                  The first turn
                </span>
              </p>
            </div>
            <div class="apartaments-card__box">
              <a class="apartaments-card__link" href="#">
                <svg class="apartaments-card__icon" width="20" height="20">
                  <use href="images/sprite.svg#icon-chevron"></use>
                </svg>
                View apartments
              </a>
              <p class="apartaments-card__desc">
                IV quarter of 2023
                <span class="apartaments-card__turn">
                  The second turn
                </span>
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="apartaments__item">
        <article class="apartaments-card">
          <img class="apartaments-card__img" src="images/apartaments/6.jpg" alt="Lisove s. 67" width="416" height="420">
          <div class="apartaments-card__content">
            <div class="apartaments-card__box">
              <h3 class="apartaments-card__title">
                Lisove s. 67
              </h3>
              <p class="apartaments-card__desc">
                I quarter of 2022
                <span class="apartaments-card__turn">
                  The first turn
                </span>
              </p>
            </div>
            <div class="apartaments-card__box">
              <a class="apartaments-card__link" href="#">
                <svg class="apartaments-card__icon" width="20" height="20">
                  <use href="images/sprite.svg#icon-chevron"></use>
                </svg>
                View apartments
              </a>
              <p class="apartaments-card__desc">
                IV quarter of 2023
                <span class="apartaments-card__turn">
                  The second turn
                </span>
              </p>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>