<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__top">
      <ul class="footer__list">
        <li class="footer__title">
          Apartments
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link link" href="#">
            Studios
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link link" href="#">
            1 room
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link link" href="#">
            2 rooms
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link link" href="#">
            3 rooms link
          </a>
        </li>
      </ul>
      <ul class="footer__list">
        <li class="footer__title">
          About the company
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link link" href="#">
            Licenses and certificates
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link link" href="#">
            Vacancies
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link link" href="#">
            Our objects
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link link" href="#">
            Contacts
          </a>
        </li>
      </ul>
      <div class="footer__networks">
        <p class="footer__title">Social networks</p>
        <ul class="footer__social">
          <li class="footer__social-item">
            <a class="footer__social-link" href="#">
              <sapn class="sr-only">Go to YouTube</sapn>
              <svg class="footer__social-icon" width="20" height="20">
                <use href="images/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#">
              <sapn class="sr-only">Go to FaceBook</sapn>
              <svg class="footer__social-icon" width="20" height="20">
                <use href="images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#">
              <sapn class="sr-only">Go to Behance</sapn>
              <svg class="footer__social-icon" width="20" height="20">
                <use href="images/sprite.svg#icon-behance"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#">
              <sapn class="sr-only">Go to Instagram</sapn>
              <svg class="footer__social-icon" width="20" height="20">
                <use href="images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer__networks-box">
          <p class="footer__networks-text">
            Our site participates in the competition: "TOP-10 construction companies"
          </p>
          <svg class="footer__networks-icon" width="50" height="50">
            <use href="images/sprite.svg#icon-awards"></use>
          </svg>
        </div>
      </div>
      <address class="footer__item">
        <a class="footer__tel link" href="tel:+380(95) 151 77 62">
          +380(95) 151 77 62
        </a>
        <p class="footer__address">
          Kyiv, St. Khreshchatyk 49, office 40-45
        </p>
        <span class="footer__text">Mon-Fri from 9:00 a.m. to 7:00 p.m</span>
        <span class="footer__text">Sat-Sun weekend</span>
        <a class="footer__mail link" href="mailto:buildcore@gmail.com">
          buildcore@gmail.com
        </a>
      </address>
    </div>

    <div class="footer__bottom">
      <a class="logo" href="body">
        <img class="logo__img" src="images/logo.svg" alt="Logo" width="86" height="56">
      </a>
      <p class="footer__copy">
        (c) 2023. All rights reserved. Construction company No.1 Use of materials only with reference to the source
      </p>
      <a class="footer__policy link" href="#">Privacy Policy</a>
      <span class="footer__bottom-text">Figma.info</span>
    </div>
  </div>
</footer>