<header class="header" id="header">
  <nav class="menu">
    <a class="logo" href="body">
      <img class="logo__img" src="images/logo.svg" alt="Logo" width="86" height="56">
    </a>
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link link" href="#apartaments">Location</a>
      </li>
      <li class="menu__item">
        <a class="menu__link link" href="#calculator">Hypothec</a>
      </li>
      <li class="menu__item">
        <a class="menu__link link" href="#events">Events</a>
      </li>
      <li class="menu__item">
        <a class="menu__link link" href="#popular">Choose an apartment</a>
      </li>
      <li class="menu__item">
        <a class="menu__link link" href="#mortgage">Partners</a>
      </li>
      <li class="menu__item">
        <a class="menu__link link" href="#footer">Contacts</a>
      </li>
    </ul>
    <ul class="menu__contacts">
      <li class="menu__contacts-item">
        <a class="menu__contacts-link link menu__contacts-link--tel" href="tel:+38(095) 151 77 62">
          <svg class="menu__contacts-icon" width="20" height="20">
            <use href="images/sprite.svg#icon-phone"></use>
          </svg>
          +38(095) 151 77 62
        </a>
      </li>
      <li class="menu__contacts-item">
        <a class="menu__contacts-link link menu__contacts-link--apartment" href="#popular">
          Apartment selection
          <svg class="menu__contacts-icon" width="9" height="18">
            <use href="images/sprite.svg#icon-chevron"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="burger" type="button">
      <span class="burger__line"></span>
      <span class="sr-only">Open menu</span>
    </button>
  </nav>
</header>