<section class="mortgage" id="mortgage">
  <div class="container">
    <div class="mortgage__top">
      <h2 class="mortgage__title title">
        Mortgage from our reliable partners
      </h2>
      <a class="mortgage__link" href="#">
        View all partners
      </a>
    </div>
    <div class="mortgage__content">
      <div class="mortgage__box">
        <p class="mortgage__desc">
          Reliable partners are the key to successful completion of the case. You can issue a mortgage in the listed
          banks. We
          guarantee reliability and low interest rates.
        </p>
        <p class="mortgage__text">
          To choose the right product, it is not enough to know its conditions. Every day we publish dozens of economic
          news that
          help to manage personal finances competently. With us, you can find out not only the exchange rate of world
          currencies,
          but also understand what will affect them in the near future. You will learn about fresh financial life hacks
          from our
          video project "Fintalk".
        </p>
        <p class="mortgage__text">
          If your goal is to invest money profitably, you can choose a deposit or debit card with favorable terms from
          us. For
          those who are looking for more profitable options for investing money, we have created the "Investments"
          section, where
          you can choose stocks and bonds, as well as decide which broker to conduct business through.
        </p>
      </div>
      <div class="mortgage__partners">
        <img class="mortgage__partners-img" src="images/partners/1.jpg" alt="PrivatBank">
        <img class="mortgage__partners-img" src="images/partners/2.jpg" alt="A">
        <img class="mortgage__partners-img" src="images/partners/3.jpg" alt="MonoBank">
        <img class="mortgage__partners-img" src="images/partners/4.jpg" alt="1+1">
        <img class="mortgage__partners-img" src="images/partners/5.jpg" alt="UKRGASBANK">
        <img class="mortgage__partners-img" src="images/partners/6.jpg" alt="RaifaizenBank">
        <img class="mortgage__partners-img" src="images/partners/7.jpg" alt="The Ministry of Sport and Youth Affairs">
        <img class="mortgage__partners-img" src="images/partners/8.jpg" alt="Novy Chanel">
        <img class="mortgage__partners-img" src="images/partners/9.jpg" alt="Pumb">
      </div>
    </div>
  </div>
</section>