<section class="popular" id="popular">
  <div class="container">
    <div class="popular__top">
      <h2 class="popular__title title">
        Popular apartments
      </h2>
      <div class="popular__btns">
        <button class="btn btn--dark-outline" type="button">For rent</button>
        <button class="btn btn--dark" type="button">For the family</button>
      </div>
    </div>
    <ul class="popular__content">
      <li class="popular__item">
        <article class="popular-card">
          <div class="popular-card__top">
            <p class="popular-card__remaining">
              Remaining: 2 pieces
            </p>
            <img class="popular-card__img" src="images/popular/1.jpg" alt="Studios" width="246" height="240">
          </div>
          <div class="popular-card__content">
            <div class="popular-card__box">
              <h3 class="popular-card__title">Studios</h3>
              <span class="popular-card__text">5-10 floor</span>
            </div>
            <div class="popular-card__box">
              <span class="popular-card__area">42,15 m<sup>2</sup></span>
              <span class="popular-card__balcony">8m<sup>2</sup> balcony</span>
            </div>
          </div>
          <a class="view-more" href="#">
            <svg class="view-more__icon" width="20" height="20">
              <use href="images/sprite.svg#icon-chevron"></use>
            </svg>
            View planning
          </a>
        </article>
      </li>
      <li class="popular__item">
        <article class="popular-card">
          <div class="popular-card__top">
            <p class="popular-card__remaining">
              Remaining: 3 pieces
            </p>
            <img class="popular-card__img" src="images/popular/2.jpg" alt="Studios" width="246" height="240">
          </div>
          <div class="popular-card__content">
            <div class="popular-card__box">
              <h3 class="popular-card__title">1 room</h3>
              <span class="popular-card__text">5-10 floor</span>
            </div>
            <div class="popular-card__box">
              <span class="popular-card__area">51,25 m<sup>2</sup></span>
              <span class="popular-card__balcony">8m<sup>2</sup> balcony</span>
            </div>
          </div>
          <a class="view-more" href="#">
            <svg class="view-more__icon" width="20" height="20">
              <use href="images/sprite.svg#icon-chevron"></use>
            </svg>
            View planning
          </a>
        </article>
      </li>
      <li class="popular__item">
        <article class="popular-card">
          <div class="popular-card__top">
            <p class="popular-card__remaining">
              Remaining: 2 pieces
            </p>
            <img class="popular-card__img" src="images/popular/3.jpg" alt="Studios" width="246" height="240">
          </div>
          <div class="popular-card__content">
            <div class="popular-card__box">
              <h3 class="popular-card__title">2 rooms</h3>
              <span class="popular-card__text">5-10 floor</span>
            </div>
            <div class="popular-card__box">
              <span class="popular-card__area">62,11 m<sup>2</sup></span>
              <span class="popular-card__balcony">8m<sup>2</sup> balcony</span>
            </div>
          </div>
          <a class="view-more" href="#">
            <svg class="view-more__icon" width="20" height="20">
              <use href="images/sprite.svg#icon-chevron"></use>
            </svg>
            View planning
          </a>
        </article>
      </li>
      <li class="popular__item">
        <article class="popular-card">
          <div class="popular-card__top">
            <p class="popular-card__remaining">
              Remaining: 2 pieces
            </p>
            <img class="popular-card__img" src="images/popular/4.jpg" alt="Studios" width="246" height="240">
          </div>
          <div class="popular-card__content">
            <div class="popular-card__box">
              <h3 class="popular-card__title">3 rooms</h3>
              <span class="popular-card__text">5-10 floor</span>
            </div>
            <div class="popular-card__box">
              <span class="popular-card__area">78,60 m<sup>2</sup></span>
              <span class="popular-card__balcony">8m<sup>2</sup> balcony</span>
            </div>
          </div>
          <a class="view-more" href="#">
            <svg class="view-more__icon" width="20" height="20">
              <use href="images/sprite.svg#icon-chevron"></use>
            </svg>
            View planning
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>